.button {
  padding: 5px 12px;
  height: 40px;

  color: white;
  background-color: $default;

  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  outline: 0;
  text-align: center;
}

.button:hover,
.button:focus {
  background-color: $focus;
}
