.button {
  padding: 5px 12px;
  height: 40px;
  background-color: $default;
  color: white;
  @include small-text;
  @include default-border;
  border-style: none;
  text-align: center;
  width: 100px;
}

.button:hover,
.button:focus {
  background-color: $focus;
}
