.search {
  padding: 5px 12px;
  max-width: 172px;
  color: $primary;
  background-color: white;
  @include small-text;
  @include default-border;
}

.search:focus {
  @include focus-border-shadow;
}
