.select {
  padding: 5px 12px;
  color: $primary;
  background-color: white;
  max-width: 170px;
  @include small-text;
  @include default-border;
  border-right: 8px solid transparent;
}

.select:focus {
  background-color: white;
  @include focus-border-shadow;
  border-right: 8px solid transparent;
}
