.table_header {
  max-width: 600px;
  height: auto;
  border-radius: 5px;
  margin: 30px auto;
  background-color: $background;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  width: 100%;
  p {
    margin: auto 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }

  .option_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-flow: row wrap;
    padding: 0 1rem;
    margin: auto 0;
    gap: 8px;
  }
  .sorter_options {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-flow: row wrap;
    gap: 1rem;
  }
}
