.user_card {
  max-width: 600px;
  border: 1px solid $border-dark;
  border-radius: 5px;
  box-shadow: 3px 3px 6px $box-shadow-grey;
  background-color: white;
  margin: 2rem auto;
  padding: 0.5rem;

  p,
  a {
    margin: 0;
  }

  .user_card_title {
    display: flex;
    padding: 1rem;
    @include border-line(border-bottom);
    width: 90%;
    margin: 0 auto;
    p {
      margin: auto;
      @include large-text;
    }
  }

  .content-divs {
    display: flex;
    flex-direction: column;
    @include sm {
      flex-direction: row;
    }
    .user-info {
      @include content-div-styling;
      @include border-line(border-right);
      margin: 0 auto;
      @include xs {
        @include border-line(border-bottom);
        border-right: none;
        width: 80%;
      }
    }
    .user-address {
      @include content-div-styling;
    }
  }
}
