$font: sans-serif;
$primary: #333;
$secondary: #999;
$pageBackground: #faf9f9;
$background: #c6a5c6;
$borderLight: #e9e1eb;
$borderDark: #d6c5d6;
$boxShadowLilac: #e0d0e0;
$default: #9f699f;
$focus: #ac83ac;
