$font: sans-serif;

// text colors
$primary: #333;
$secondary: #999;

// element colors
$page-background: #faf9f9;
$background: #c6a5c6;
$border-light: #e9e1eb;
$border-dark: #d6c5d6;
$box-shadow-lilac: #e0d0e0;
$box-shadow-grey: #dadada;
$default: #824982;
$focus: #9f5a9f;

// breakpoints

$screen-sm-min: 582px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;